.dsaddsadsa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.freeimages.com/images/large-previews/6a2/global-map-1444310.jpg");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: right; 
    height: 100vh; 
  }

  .borde {
    border: 1px solid rgb(124, 120, 120);
    height: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-left: 0px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .form label {
    margin-bottom: 10px;
    color: #333;
  }
  
  .form input,
  .form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 30px; 
    border: none;
    border-radius: 25px; 
    background-color: #ffffff; 
    color: #333;
    outline: none;
    margin-top: 20px;
  }
  
  .form input[type="password"] {
    position: relative;
    width: calc(100% - 40px); 
  }
  
  .form .passwordInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    position: relative;
  }
  
  .form .showHideButton {
    padding: 8px 14px;
    border: none;
    border-radius: 25px;
    background-color: #b1a9a9;
    color: #333;
    cursor: pointer;
    position: absolute; 
    right: -40px; 
    top: 55px; 
    transform: translateY(-50%); 
  }
  
  .form .showHideButton:hover {
    background-color: #ccc;
  }
  
  .form .button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
  }
  
  .form .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .form .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: -50px;
  }
  
  .snackbar {
    margin-top: 20px;
  }