.userProfile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .banner {
    height: 100px; /* Ajusta la altura según sea necesario */
    background-color: #3498db; /* Cambia el color de fondo según sea necesario */
  }
  
  .profileContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .imageContainer {
    flex: 1;
  }
  
  .profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ecf0f1; /* Cambia el color de fondo según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .altText {
    color: #2c3e50; /* Cambia el color del texto según sea necesario */
  }
  
  .profileInfo {
    flex: 2;
    margin-left: 20px;
  }
  
  .previewContainer {
    margin-top: 20px;
  }
  
  .preview {
    border: 1px solid #bdc3c7; /* Cambia el color del borde según sea necesario */
    padding: 20px;
  }
  
  .textopreview {
    text-align: center;
  }
  
  .titulo {
    color: #e74c3c; /* Cambia el color del título según sea necesario */
  }
  
  .textoPrev p {
    margin: 10px 0;
    color: #34495e; /* Cambia el color del texto según sea necesario */
  }