.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

.container:hover{
  scale: 104%;
}

.cardContent{
  width: 280px;
  height: 404px;
  margin: 30px;
  box-shadow: 0px 2px 4px black;
}

.cardContent:hover{
  outline: 1px solid #0D6EFD;
  box-shadow: 0px 2px 10px #0D6EFD;
  transition: 0.3s;
}

.cardContent h3{
  background-color: white;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  height: 26px;
}

.cardContent img{
  width: 280px;
  height: 300px;
  justify-self: center;
  object-fit: cover;
}

.cardContent img:hover{
  border-radius: 4px;
  transition: 0.2s;
}

.brand h3{
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
}

.details {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 49px;
}

.details h4{
  font-size: 18px;
  margin-left: 14px;
  position: relative;
  top: 12px;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  color: green;
}

.details button{
  position: relative;
  margin: 0px;
  width: 35px;
  top: 12.5px;
  left: 6px;
  height: 25px;
  background-color: gray;
}

.details button:hover{
  background-color: black;
}

.details button h5{
  font-size:12px;
  margin: 0 auto;
  position: relative;
  top: -6px;
  left: -6px;
}

.logoContainer img{
  justify-self: center;
  object-fit: cover;
  width: 54px;
  height: 30px;
  position: relative;
  top: -370px;
  left: 220px;
}