.form {
    width: 450px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 210px;
    margin-top: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    position: absolute; 
    margin-bottom: 20px;
    overflow: auto;
  }
  
  .form::-webkit-scrollbar {
    width: 5px; 
  }
  
  .form::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 4px; 
  }
  
  .form::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .inputContainer {
    margin-bottom: 15px; 
  }
  
  .label {
    font-size: 12px; 
    font-weight: bold;
    margin-bottom: 5px; 
    margin-right: 10px;
  }
  
  .input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px; 
    margin-top: -5px; 
  }
  
  .editButton,
  .saveButton {
    width: 100%;
    margin-top: 15px;
    padding: 10px; 
  }
  
  .editButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .editButton:hover {
    background-color: #2980b9; 
  }
  
  .saveButton {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #219653;
  }
  
  .error {
    color: #c0392b;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Media Query para pantallas más pequeñas */
  @media (max-width: 600px) {
    .form {
      width: 80%;
    }
  }
  @media (max-width: 600px) {
    .title {
      width: 80%;
    }
  }
  
  .title{

    margin-left: 15px;

    margin-bottom: 50px;
  }

  .imageprev{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 30px;
  }