.form {
  width: 320px;
  height: 540px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: 450px;
  margin-top: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  position: absolute; 
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 15px; 
}

.label {
  font-size: 12px; 
  font-weight: bold;
  margin-bottom: 5px; 
  margin-right: 10px;
}

.input {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px; 
  margin-top: -5px; 
}

.editButton,
.saveButton {
  width: 100%;
  margin-top: 15px;
  padding: 10px; 
}

.editButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;

}

.editButton:hover {
  background-color: #2980b9; 
}

.saveButton {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #219653;
}

.error {
  color: #c0392b;
  font-size: 14px;
  margin-top: 10px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 600px) {
  .form {
    width: 80%;
  }
}

.title{
  color: #0b0b0b;

  border: 1px solid #ffffff;
  width: 250px;
  border-radius: 12.825px;
  height: 38.25px;
  margin-right: 50px;
  text-align: center;
  background-color: #ffffffc5;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
  margin-left: 15px;
  margin-top: -80px;
  margin-bottom: 50px;
  position: absolute;
}

.fileInput{
  border: 1px solid rgb(186, 184, 184);
}


.previewContainer {
  margin-top: 110px;
  position: relative;
}

.preview {
  border: 1px solid #fdfffee6;
  padding: 22.95px;
  background-color: #fdfffee6;
  border-radius: 12.825px;
  margin-right: 22.95px;
  margin-top: 15px;
  margin-bottom: 22.95px;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 540px;
  margin-left: 90px;
  overflow: auto; 
}

.preview::-webkit-scrollbar {
  width: 5px; 
}

.preview::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 4px; 
}

.preview::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); 
}

.textopreview {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: -10px;
}

.titulo {
  color: #0b0b0b;

  border: 1px solid #ecf0f1;
  width: 250px;
  border-radius: 12.825px;
  height: 38.25px;
  margin-right: 50px;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
  margin-left: 115px;
  margin-top: -40px;
  margin-bottom: 50px;
  position: absolute;
}

.textoPrev p {
  color: #34495e;
  font-size: 17px;
  text-align: left;
  margin-top: 45px;
  
}



.mail{
  position: absolute;
  margin-left: 200px;

}










