.reservationcontainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #36313158;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    position: absolute;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.buttondsadas {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: -150px;
    position: absolute;
}

button:hover {
    background-color: #0056b3;
}

.titulo {
    color: black;
}