.container {
    display: flex; 
    justify-content:space-around;
background-color:rgb(218, 219, 219);
height: 30vh;
  }
  
  .container img {
    width: 140px;
    height: 180px;
    margin-top: 2px;
    display: block;
    margin-right: 1px;
    margin-top: 5px;
    border-radius: 8px;
    border-color:rgba(0, 0, 0, 0.945);

    
  }
  .img:hover {
    transform: scale(1.1);
  }
  
  .img:last-child {
    margin-right: 0;
  }
 .cajita {
    margin: 0;
    padding: 0;
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    background-image: url(https://wallpaperaccess.com/full/3614911.jpg);
   
    
}
.hed {
    text-align: left; 
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto; /* Esto centra el elemento horizontalmente */
    font-size: 10px;
    background-color: rgba(4, 4, 5, 0.507);
    background-size: cover;
    height: 35vh;
    width: 35%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    margin-bottom: 30px;
    border-radius: 5%;
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Establece la dirección del flujo como columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
  }

h1 {color:aliceblue;
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-shadow: none;
    margin-right: 30px;
    margin-top: 10px;
 
}
h2 {
    color:rgb(29, 252, 129);
    margin-right: 50px;
}
p {
    margin-right:50px;
    color: aliceblue;
    font-size: 16px;
}
.miboton{
    padding: 5px;
    width: 12%;
    height: 6%;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 0;
    background-color:#061980;
    color:aliceblue;
    box-shadow: none;
    margin-left: 820px;
  }
  .foot {
    background-color: rgb(0, 0, 0);
    padding: 5px 0; 
    color:black;
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 8%;
    text-align:justify;
    line-height: 0; 
  }
  .parrafo {
    background-color: rgb(15, 140, 212);
  }