.container label{
    font-size: 28px;
    font-weight:600;
}

.textAreaContainer{
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: 6px;
    margin-left: 15px;
}

.userContent{
    margin: 15px;
    display: flex;
}

.userContent img{
    margin-right: 10px;
}

.container h4{
    position: relative;
    top: 4px;
}

.container button h5{
    font-size: 20px;
    color: white;
}

.container h5{
    position: relative;
    top: 10px;
    color: red;
}
.container span{
    position: relative;
    top: -2px;
    left: -6px;
}

.container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 100%;
}

.container::-webkit-scrollbar{
    width: 0px;
}

.ratingContainer{
    display: flex;
    margin-left: 28px;
}


.ratingContainer h5{
    top: 2px;
    left: 10px;
    position: relative;
    width: 200px;
}

.container button{
    width: 60px;
    height: 30px;
    position: relative;
    top: 28px;
    left: 30px;
    background-color: black;
    color: white;
}

.container button h5{
    position: relative;
    top: -6.5px;
    font-weight: 300;
    font-size: 16px;
}

.commentsContainer{
    margin-left: 20px;
}

textarea{
    position: relative;
    left: 15px;
    display: flex;
    margin-left: 20px;
    width: 300px;
    height: 90px;
}

.usersReviewsContainer{
    display: flex;
}

.userReview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    margin: 30px;
    position: relative;
    top: 20px;
}

.userReview h5{
    color:black;
    display: flex;
    position: relative;
    font-weight: 300;
    left: 8px;
    font-size: 18px;
    top: 4px;
}

.userRating{
    position: relative;
    margin-left: 8px;
    
}

.noAvailable p{
    position: relative;
    background-color: #df8a8aac;
    top: 40px;
}

.userDataReview{
    position: relative;
    top: -10px;
    left: -10px;
    display: flex;
}

.userContentReview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 40px;
}

.userContentReview h5{
    font-size: 20px;
}

.reviewComment p{
    padding: 4px;
    background-color: rgba(128, 128, 128, 0.121);
    box-shadow: 0px 0px 2px;
    border-radius: 4px;
    margin: 0 auto;
}

.reviewComment{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    flex-direction: row;
}