.homeView {
  background-image: url("https://en.idei.club/uploads/posts/2023-06/thumbs/1687339939_en-idei-club-p-white-abstract-design-dizain-pinterest-61.jpg"); 
  padding-top: 50px;
  min-height: 170vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-attachment: fixed; 
  background-position: right; 
}

.mainContent {
  width: 80%;
  margin: 20px auto;
  padding-top: 20px; 
  position: relative;
}

footer {
  margin-top: auto; /* knklfnkfnd */
  padding: 20px 0;
  color: #888;
}


.cardsRows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -100px; 
  margin-top: 110px;
  position: absolute;
}




@media (max-width: 992px) {
  .cardcontainer {
    flex: 0 0 calc(50% - 20px); 
  }
}

.search {
  left: 1100px;
  top: 05px;
  position: absolute; 
  z-index: 999;
}

.fileter {
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 999;
}

.paginado {
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%); 
  position: absolute;
  z-index: 999;
}


