.homeView {
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/871/519/non_2x/travel-destination-background-and-template-design-with-travel-destinations-and-famous-landmarks-and-attractions-for-tourism-let-s-go-travel-illustration-vector.jpg"); 
  padding-top: 50px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-attachment: fixed; 
  background-position: right; 
}

.mainContent {
  width: 80%;
  margin: 20px -50px auto auto; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-top: 90px;
  position: absolute;
}

footer {
  margin-top: auto; 
  padding: 20px 0;
  color: #888;
}


.cardsRows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px; /* Añade margen negativo para compensar el margen en las tarjetas */
  
}




@media (max-width: 992px) {
  .cardcontainer {
    flex: 0 0 calc(50% - 20px); /* Cuando el ancho de la pantalla sea menor a 992px, cambia el ancho de cada tarjeta al 50% del contenedor padre */
  }
}

.search {
  margin-left: 1200px;
  margin-top: -120px;
  position: absolute;
}

.paginado {
  align-items: center;
  margin-left: auto;
  margin-bottom: 40px;
}


.fileter {
  margin-left: 50px;
  margin-top: -100px;
  position: absolute;
  
}