.homeView {
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/871/519/non_2x/travel-destination-background-and-template-design-with-travel-destinations-and-famous-landmarks-and-attractions-for-tourism-let-s-go-travel-illustration-vector.jpg"); 
  padding-top: 50px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-attachment: fixed; 
  background-position: right; 
}

.mainContent {
  width: 80%;
  margin: 20px auto;
  padding-top: 20px; /* Mover el contenido hacia abajo para dejar espacio para los controles */
  position: relative; /* Cambiar a posición relativa para permitir que los controles se posicionen de manera relativa */
}

footer {
  margin-top: auto; 
  padding: 20px 0;
  color: #888;
}


.cardsRows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 200px; /* Añade margen negativo para compensar el margen en las tarjetas */
  
}




@media (max-width: 992px) {
  .cardcontainer {
    flex: 0 0 calc(50% - 20px); /* Cuando el ancho de la pantalla sea menor a 992px, cambia el ancho de cada tarjeta al 50% del contenedor padre */
  }
}

.search {
  left: 20px;
  top: 20px;
  position: absolute; /* Cambiar a posición absoluta dentro de mainContent */
  z-index: 999;
}

.fileter {
  right: 20px;
  top: 20px;
  position: absolute; /* Cambiar a posición absoluta dentro de mainContent */
  z-index: 999;
}

.paginado {
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%); /* Centrar horizontalmente el paginado */
  position: absolute; /* Cambiar a posición absoluta dentro de mainContent */
  z-index: 999;
}

.cardcontainer {
  flex: 0 0 calc(50% - 20px); /* Ajusta el ancho de cada tarjeta al 50% del contenedor padre */
  margin-bottom: -10px; /* Agrega un margen inferior para separar las tarjetas */
}
