



.contasdds {
  background-image: url("https://en.idei.club/uploads/posts/2023-06/thumbs/1687339939_en-idei-club-p-white-abstract-design-dizain-pinterest-61.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
  width: 209.7vh;
  max-width: 270vh;
  margin-top: 80px;
  margin-left: 0vh;
  
}

.detailContainersdsd {

  height: 90vh;
  width: 107vh;
  margin-top: -1vh;
  margin-left: 100vh;
  border-radius: 3%;
  position: absolute;
  
}

.detailContent {
  margin-top: 1vh;
  margin-left: 2vh;
  height: 90vh;
  width: 107vh;
  position: fixed;
}

.detailContainersdsd img {
  margin-left: -750px;
  position: absolute;
  margin-top: 130px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2000px;
}



.detailContainersdsd h4 {
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
}



.detailContainersdsd img.favoriteicon {
  max-height: 6vh;
  max-width: 6vh;
  margin-top: 50px;
  margin-left: 98vh;
  position: absolute;
  cursor: pointer;
  
}

.list {
  margin-left: 100px;
  
}


.localidad {
  position: absolute;
  margin-left: -600px;
  margin-top: 20px;
}

.caracteristicas {

 
  margin-left: -750px;
  position: absolute;
  margin-top: 600px;
  height: 250px;
}


.ressserv {
  position: absolute;
  margin-top: -80px;
  margin-left: 215px;
}

.arrowcontainer {
  position: absolute;
  margin-top: 150px;
  margin-left: -430px;
 
}

.dotscontaineresds{
  position: absolute;
  margin-top: 560px;
  margin-left: -710px;
}