.detailContainer {
  background-color: #020202;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.productDetail {
  background-color: #373739;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  width: 100%; /* El detalle del producto ocupa todo el ancho */
  max-width: 600px; /* Establecemos un ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
}

.productDetail:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Arial', sans-serif;
  color: #60d4ea;
}

.infoContainer {
  color: #60d4ea;
}

.infoContainer h4 {
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}

.infoContainer h4:hover {
  transform: scale(1.05);
}

/* Media queries para hacer el diseño responsive */

@media (max-width: 768px) {
  .productDetail {
    padding: 10px; /* Reducir el padding en pantallas más pequeñas */
  }

  .img {
    margin-bottom: 10px; /* Reducir el margen inferior de la imagen en pantallas más pequeñas */
  }
}
