.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91.8vh;
  width: 209.7vh;
  max-width: 270vh;
  margin-top: 80px;
  margin-left: 0vh;
  overflow: hidden;
  position: fixed;
}

.detailContainer {
  background-color: rgba(245, 245, 245, 0.65);
  height: 90vh;
  width: 107vh;
  margin-top: -1vh;
  margin-left: 100vh;
  border-radius: 3%;
  position: fixed;
}

.detailContent {
  margin-top: 1vh;
  margin-left: 2vh;
  height: 90vh;
  width: 107vh;
  position: fixed;
}

.detailContent img {
  border-radius: 8%;
  max-height: 250px;
  max-width: 320px;
  position: fixed;
}

.detailContent h2 {
  margin-left: 45vh;
  margin-top: 1vh;
  position: fixed;
  color: brown;
}

.detailContent h4 {
  margin-left: 35vh;
  margin-top: 5vh;
}

.detailContent button {
  margin-top: -12vh;
  margin-left: 83vh;
  position: fixed;
  cursor: pointer;
  height: 5vh;
  width: 15vh;
}

.detailContent img.favorite-icon {
  max-height: 6vh;
  max-width: 6vh;
  margin-top: -23vh;
  margin-left: 98vh;
  position: fixed;
  cursor: pointer;
}