.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #09090986;
  border-radius: 5px;
  max-width: 1700px;
}


.select {
  padding: 8px;
  margin-right: 1px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  color: #333;
  outline: none;
}


.select:last-child {
  margin-right: 0;
}

.select:focus {
  border-color: #007bff;
}


.search{
  margin-top: -15px;
}