.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #adaeb08d;
  border-radius: 5px;
}

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  color: #333;
  outline: none;
  margin-left: 25px;
}

.select:focus {
  border-color: #007bff;
}