#home{
  background-image: url("https://en.idei.club/uploads/posts/2023-06/thumbs/1687339939_en-idei-club-p-white-abstract-design-dizain-pinterest-61.jpg");
  background-size: cover;
  background-position: center;
  height: 126vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#home #titleHeader{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  top: 8%
}

#home #titleHeader #title{
  font-size: 210%;
}

#home #titleHeader #subTitle{
  font-size: 160%;
}

#home #gridDestinations{
  position: relative;
  top: 10%;
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
}

#home #gridDestinations #topLocation{
  width: 90%;
  height: 95%;
  cursor: pointer
}
