.pagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sideButton,
.stepButton,
.pageButton {
  border: none;
  background-color: rgba(105, 102, 102, 0.386);
  color: #363434; /* Color de texto principal */
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  font-weight: bold; /* Texto en negrita para mayor énfasis */
  font-size: 14px; /* Tamaño de fuente ligeramente aumentado */
  border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
  border: 1px solid rgba(139, 137, 137, 0.76); /* Borde delgado para una apariencia más definida */
}

/* Cambia el color de fondo al pasar el ratón para todos los botones */
.sideButton:hover,
.stepButton:hover,
.pageButton:hover {
  background-color: #f0f0f0; /* Color de fondo gris claro al pasar el ratón */
}

/* Estilo para el botón de página activa */
.pageButton.active {
  background-color: #ff0000; /* Color de fondo azul para indicar la página activa */
  color: #fff; /* Color de texto blanco para resaltar */
}

/* Espaciado adicional entre las páginas y los botones */
.spanPages {
  margin-left: 10px;
  margin-right: 10px;
}