.buttons{
    padding: 4px;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    margin: 6px;
    color: black;
    background:none;
}

.buttons button{
    z-index: 200;
    cursor: pointer;
}

.buttons:hover{
    background: none;
    scale: 120%;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    top:10px;
    left: 20px;
    z-index: 200;
    cursor: pointer;
}

.container span{
    font-weight: 700;
    font-size: 12px;
    position: relative;
    top: -4px;
}