.pagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .sideButton,
  .stepButton,
  .pageButton {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
  }
  
  .pageButton.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .btns {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .spanPages {
    margin-left: 10px;
    margin-right: 10px;
  }